.schedule {
  position: relative;
}

.nav-cities
  position absolute
  right 100%
  margin-right 2rem
  text-align right

.nav-cities .link-city
  display block
  white-space nowrap

.google-calendar {
  width: 100%;
  flex-grow: 2;
  border: none;
}

/*
body {
  margin: 0 auto;
  padding: 18px 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 290px;
  height: 100vh;
  text-align: center;
  font-size: 16px;
  background: #343434;
  color: #fafafa;
  display: flex;
  flex-direction: column;
}
*/